extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/upload-single" method="post" enctype="multipart/form-data")
    input(type="file" name="logo")
    input(input type="submit" value="提交")